{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h1 class="my-5">
            Welcome to Room Slot Booking!
        </h1>
    </div>
</div>

<!-- <div class="container h-100">
    <div class="row justify-content-center">
        <div class="col-4 col-sm-3 bg-light py-5">
            <ul class="nav nav-pills flex-column text-center">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="#section1">Book Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section1">My Previous Bookings</a>
                </li>
            </ul>
        </div>
        <div class="col-8 col-sm-9">

        </div>
    </div>
</div> -->

<div class="container">
    <ul class="nav nav-pills justify-content-center">
        {% if user.profile.room_manager is False %}
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#book-room">Book Room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#previous-bookings">My Previous Bookings</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Manage Rooms</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="pill" href="#pre-booking">Pre-Booking Allowance</a>
              <a class="dropdown-item" data-toggle="pill" href="#rooms">No. of Rooms</a>
              <a class="dropdown-item" data-toggle="pill" href="#time-slots">Time Slots</a>
            </div>
          </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#manage">Manage Rooms</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#summary">Bookings Summary</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#previous-bookings">My Previous Bookings</a>
        </li> -->
        {% endif %}
    </ul>

    <div class="tab-content">
        {% if user.profile.room_manager is False %}
        <div class="tab-pane container active" id="book-room">
            <div class="row justify-content-center">
                <div class="col-4">
                    <form method="POST">
                        {% csrf_token %}
                        <h3 class="mt-5 mb-3 text-center">Book Room</h3>
                        {% if rooms_context2 %}
                        <p class="text-center">Current Rooms: {{ rooms_context1 }}<br>{{ rooms_context2 }} </p>
                        {% else %}
                        <p class="text-center">Current Rooms: {{ rooms_context1 }}</p>
                        {% endif %}
                        <input name="rooms" type="number" class="form-control" required>
                        <button type="submit" class="btn btn-primary btn-block my-4" name="submit" value="rooms">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="previous-bookings">
            You can view your previous bookings here..
        </div>
        {% else %}
        <div class="tab-pane container active" id="home">
            <div class="row justify-content-center mt-5">
                <div class="col-4">
                    <p class="text-center"><span class="font-weight-bold">Current Allowance:</span> {{ allowance }}</p>
                    
                    {% if rooms_context2 %}
                    <p class="text-center"><span class="font-weight-bold">Current Rooms:</span> {{ rooms_context1 }}<br>{{ rooms_context2 }} </p>
                    {% else %}
                    <p class="text-center"><span class="font-weight-bold">Current Rooms:</span> {{ rooms_context1 }}</p>
                    {% endif %}

                    <p class="text-center font-weight-bold mb-1">Current Time Slots:</p>
                    {% if time_slots_list|length %}
                        {% for time_slot in time_slots_list %}
                        <p class="text-center m-0">{{ time_slot.start_time }} - {{ time_slot.end_time }} {{ time_slot.remark }}</p>
                        {% endfor %}
                    {% else %}
                    <p class="text-center m-0">Nothing to show here!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="pre-booking">
            <div class="row justify-content-center">
                <div class="col-4">
                    <form method="POST">
                        {% csrf_token %}
                        <h3 class="mt-5 mb-3 text-center">Update Pre-Booking Allowance</h3>
                        <p class="text-center">Current Allowance: {{ allowance }}</p>
                        <input name="allowance" type="number" class="form-control" required>
                        <button type="submit" class="btn btn-primary btn-block my-4" name="submit" value="allowance">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="rooms">
            <div class="row justify-content-center">
                <div class="col-4">
                    <form method="POST">
                        {% csrf_token %}
                        <h3 class="mt-5 mb-3 text-center">Update Rooms</h3>
                        {% if rooms_context2 %}
                        <p class="text-center">Current Rooms: {{ rooms_context1 }}<br>{{ rooms_context2 }} </p>
                        {% else %}
                        <p class="text-center">Current Rooms: {{ rooms_context1 }}</p>
                        {% endif %}
                        <input name="rooms" type="number" class="form-control" required>
                        <button type="submit" class="btn btn-primary btn-block my-4" name="submit" value="rooms">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="time-slots">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h3 class="mt-3 mb-3 text-center">Add Time Slots</h3>
                    <p class="text-center font-weight-bold mb-1">Current Time Slots:</p>
                    {% if time_slots_list|length %}
                    <table class="table table-bordered">
                        <tbody>
                            {% for time_slot in time_slots_list %}
                            <tr>
                                <td class="text-center m-0">{{ time_slot.start_time }} - {{ time_slot.end_time }} {{ time_slot.remark }}</td>
                                <td class="text-left m-0">
                                    {% if time_slot.delete == 'yes' %}
                                    <a href="{% url 'delete_ts' uid=time_slot.id %}">Delete</a>
                                    {% else %}
                                    <a class="text-secondary" style="cursor: pointer;">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <!-- <p class="text-center m-0">{{ time_slot.start_time }} - {{ time_slot.end_time }} {{ time_slot.remark }}</p> -->
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-center m-0">Nothing to show here!</p>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="timepicker1" class="mt-2">From</label>
                        <input type="text" id="timepicker1" class="form-control" name="start_time" />
                        <label for="timepicker2">To</label>
                        <input type="text" id="timepicker2" class="form-control" name="end_time" />
                        <button type="submit" class="btn btn-primary btn-block my-4" name="submit" value="time_slot">Add</button>
                        <p class="text-center text-danger">*{{time_slot_error}}</p>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="tab-pane container fade" id="summary">
            Bookings Summary..
        </div>
        {% endif %}
    </div>
</div>

<!-- Delete Time Slots warning Modal -->
<div class="modal" id="del-ts-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
            <div class="modal-header">
                <h4 class="modal-title">Delete following Time Slots?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                The following time slots overlaps with the entered new time slot. Do you want to delete these slots?
                {% for time_slot in del_time_slots_list %}
                <p class="text-center m-0">{{ time_slot.start_time }} - {{ time_slot.end_time }} {{ time_slot.remark }}</p>
                {% endfor %}
                <form method="POST" class="my-2 text-center">
                    {% csrf_token %}
                    <input type="hidden" name="start_time" value="{{ entered_start_time }}" />
                    <input type="hidden" name="end_time" value="{{ entered_end_time }}" />
                    <button type="submit" class="btn btn-danger" id="del-ts" name="submit" value="del_ts">Delete</button>
                </form>
            </div>
				
            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
        
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('#timepicker1').timepicker({
        uiLibrary: 'bootstrap4'
    });
    $('#timepicker2').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>

<script>
    if("{{time_slot_error}}"){
        document.getElementById("home").classList.remove('active')
        document.getElementById("home").classList.add('fade')
        document.getElementById("time-slots").classList.remove('fade')
        document.getElementById("time-slots").classList.add('active')
    }

    if("{{del_time_slots_list}}"){
        $('#del-ts-modal').modal('show')
    }
</script>

{% endblock %}
