{% extends 'base.html' %}

{% load static %}

{% block title %} Room Slot Booking {% endblock %}

{% block bootstrap_css %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
<section id="home" class="flex height-fix">
    <div id="pt" class="canvas"></div>
    <div class="flex">
        <div class="text">
            <!-- Hello, I'm <span class="highlight">Priyansh Garg</span>. -->
            Room Slot Booking
            <br>
        </div>
        <div class="button page-link" dest="about" onclick="document.getElementById('login-modal').style.display='flex'">Login
            <!-- <i class="mdi mdi-arrow-right"></i> -->
        </div>
    </div>
</section>

<div id="login-modal" class="modal">
    <div class="container animate" id="container">
        <div class="form-container sign-in-container">
            <div class="div-close">
                <span onclick="document.getElementById('login-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <form method="post">
                {% csrf_token %}
                <h1>Sign in</h1>
                <span id="login-form-info">{{login_error}}</span>
                <!-- <span style="color: red;">  </span> -->
                <input type="text" name="username" placeholder="Username" required />
                <!-- <input type="email" name="email" placeholder="Email" required /> -->
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit" name="submit" value="login">Sign In</button>
                <p>Don't have an account? <span onclick="show_signup_modal()" style="cursor: pointer; display: inline-block;">Sign Up.</span></p>
            </form>
        </div>
    </div>
</div>

<div id="signup-modal" class="modal">
    <div class="container animate" id="container">
        <div class="form-container sign-in-container">
            <div class="div-close">
                <span onclick="document.getElementById('signup-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <form method="post">
                {% csrf_token %}
                <h1>Sign Up</h1>
                <span id="login-form-info">{{signup_error}}</span>
                <!-- <span style="color: red;">  </span> -->
                <input type="text" name="username" placeholder="Username" required/>
                <input type="password" name="password1" placeholder="Password" required />
                <input type="password" name="password2" placeholder="Confirm Password" required />
                

                <button type="submit" name="submit" value="signup">Sign Up</button>
                <p>Already have an account? <span onclick="show_login_modal()" style="cursor: pointer; display: inline-block;">Sign In.</span></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap_scripts %}
<script src="{% static 'home/js/main.js' %}"></script>
{% endblock %}

{% block scripts %}
<script>
    if ("{{ login_error }}") show_login_modal();
    else if ("{{ signup_error }}") show_signup_modal();

</script>

{% endblock %}